Language: C
AlignAfterOpenBracket: true
AlignArrayOfStructures: Right
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
  AlignCompound: false
  AlignFunctionPointers: true
  PadOperators: true
AlignConsecutiveMacros:
  Enabled: true
AlignEscapedNewlinesLeft: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Allman
BreakBeforeBinaryOperators: true
BreakBeforeTernaryOperators: false
Cpp11BracedListStyle: true
ColumnLimit: 0
IndentPPDirectives: AfterHash
PPIndentWidth: 2
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
MacroBlockBegin: ''
MacroBlockEnd:   ''
MaxEmptyLinesToKeep: 1
PointerAlignment: Right
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyBreakString: 1
PenaltyExcessCharacter: 0
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
TabWidth: 4
UseTab: ForContinuationAndIndentation
IndentAccessModifiers: true
IndentWrappedFunctionNames: true
KeepEmptyLinesAtEOF: true
SpaceBeforeParensOptions:
  AfterIfMacros: true
  AfterFunctionDefinitionName: true
  BeforeNonEmptyParentheses: false
  AfterControlStatements: true